.tab-list {
  overflow: hidden;
  list-style: none;
  margin-top: 0;
  padding: 0;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  background-color: #f3f3f3;
  border-radius: 4px;
}

.tab-list li[data-panel-target] {
  float: left;
  cursor: pointer;
  background: #f3f3f3;
  color: #666;
  padding: 8px;
}

.tab-list li[data-panel-target]:hover {
  background: #fff;
}

.tab-list li[data-panel-target].active {
  background: #444;
  color: #f3f3f3;
}

.tab-list li[data-panel-target].active:hover {
  background: #888;
}

.tab-list li.inactive {
  color: #aaa;
  float: left;
  padding: 8px;
}

.tab-panels .tab-panel {
  display: none;
}

.tab-panels .tab-panel.active {
  display: block;
}
