.tab-list {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 3px 3px 0 3px;
}

.tab-list li[data-panel-target] {
  float: left;
  cursor: pointer;
  color: #666;
  padding: 8px 14px;
  margin: 5px 5px 0 0px;
  border-radius: 5px 5px 0 0;
}

.tab-list li[data-panel-target]:hover {
  background: #eee;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.tab-list li[data-panel-target].inactive:hover {
  box-shadow: none;
  background: transparent;
  cursor: auto;
}

.tab-list li[data-panel-target].active {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.tab-list li.inactive {
  color: #aaa;
  float: left;
  padding: 8px;
  margin: 5px 5px 0 0px;
}

.tab-panels {
  background-color: white;
  padding: 11px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 5px;
  margin: 0px 3px 5px;
}

.tab-panels .tab-panel {
  display: none;
}

.tab-panels .tab-panel.active {
  display: block;
}
