.details-view abbr {
  color: #444;
  font-size: 13px;
}

.details-view abbr:after {
  content: "?";
}

.scrivito-title-details {
  background: #ddd;
  padding: 10px;
  margin-bottom: 2px;
}

.scrivito-title-details h4 {
  display: inline;
}

[data-scrivito-toggle-details] {
  font-size: 12px;
  padding-left: 5px;
}

[class^=scrivito-details-] {
  display: none;
  background: #eee;
  padding: 10px;
  margin: 5px -10px -10px;
}