.scrivito_dialog abbr {
  color: #444;
  font-size: 13px;
}

.scrivito_dialog abbr:after {
  content: "?";
}

.scrivito-title-details {
  background: #ddd;
  padding: 10px;
  margin-bottom: 2px;
}

.scrivito-title-details h4 {
  display: inline;
}

[data-scrivito-toggle-details] {
  font-size: 14px;
  position: absolute;
  top: 14px;
  right: 10px;
  line-height: 14px;
}

[class^=scrivito-details-] {
  display: none;
  background: #eee;
  padding: 10px;
  margin: 5px -10px -10px;
}

.scrivito_content_group {
  h1,h2,h3,h4,h5,h6 {
    small {
      color: #bbb;
      margin-left: 20px;
    }
  }
}