.details-view abbr {
  color: #444;
  font-size: 13px;
}

.details-view abbr:after {
  content: "?";
}

.scrivito-tab-title-details {
  background: #ddd;
  padding: 10px;
  margin-bottom: 2px;
}

.scrivito-tab-title-details h4 {
  display: inline;
}

[data-scrivito-tab-toggle-details] {
  font-size: 12px;
  padding-left: 5px;
}

[class^=scrivito-tab-details-] {
  display: none;
  background: #eee;
  padding: 10px;
  margin-top: 5px;
}