button[data-editor="scrivito-toggle-button"] {
  margin: 4px;
  min-width: 28px;
  text-shadow: 0 0 2px #222;
  background: #444;
  color: #fff;
  outline: none !important;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button[data-editor='scrivito-toggle-button']:hover {
  background: #888;
}

button[data-editor='scrivito-toggle-button'].active {
  box-shadow: 0 0px 5px rgba(0,0,0,0.4) inset;
  background: #888;
}
