.button_list {
  overflow: hidden;
  position: relative;
}

.scrivito_dialog .button_list .scrivito-toggle-button {
  margin: 4px;
  min-width: 28px;
  text-shadow: 0 0 2px #222;
  background: #444;
  color: #fff;
  outline: none !important;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  line-height: 15px;
  width: initial;
  float: left;
  padding: 5px 15px;
}

.scrivito_dialog .button_list .scrivito-toggle-button:hover {
  background: #888;
}

.scrivito_dialog .button_list .scrivito-toggle-button.active {
  box-shadow: 0 0px 5px rgba(0,0,0,0.4);
  background: #888;
}

.scrivito_dialog .button_list .scrivito-toggle-button.color-select {
  background: transparent;
  transition: width 0.3s, height 0.3s, margin 0.3s;
  position: relative;
  overflow: hidden;
  margin: 7px 4px;
}

.scrivito_dialog .button_list .scrivito-toggle-button.color-select.active {
  background: transparent;
  height: 51px;
  width: 51px;
  margin: 4px;
}