.scrivito_dialog .button_list button[data-editor="scrivito-toggle-button"].color-select:before {
  content: '';
  background-color: #fff;
  background-image:
    linear-gradient(45deg, #33312d 25%, transparent 25%, transparent 75%, #33312d 75%, #33312d),
    linear-gradient(45deg, #33312d 25%, transparent 25%, transparent 75%, #33312d 75%, #33312d);

  background-size: 20px 20px;
  background-position:0 0, 30px 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scrivito_dialog .button_list button[data-editor="scrivito-toggle-button"].color-select:after {
  content: '';
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}